*{
    outline: auto;
}
*{
    margin: 0;
    padding: 0;
}

/* header section */

body{
    overflow-x: hidden;
}
header{
    background-color: #1F2937;
}
.logo-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{ 
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    justify-content: start; 
}
nav ul{
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-right: 200px;
    padding: 0;
}
nav ul li a{
    text-decoration: none; 
    color: #E5E7EB;
}
.first-header-body{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 74%;
    padding:60px 0;
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    max-width: 450px;
}
.header-subtext{
    color: #E5E7EB;
    font-size: 18px;
    max-width: 400px;
}
.placeholder{
    display: flex;
    background-color: gray;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.first-sign-up{
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
}

/* second section */

.random-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.illustration-container{
    display: flex;
    justify-content: center;
    margin: 30px auto 80px; 
    min-width: 115px;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.empty-container{
    border: 3px solid #3882F6;
    min-height: 100px;
    border-radius: 8px;

}
.image-container, .subtext-container{
    max-width: 135px; 
}

/* quotation section  */

.third-section{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
  
}
.quote{
    display: flex;
    line-height: 50px;
    max-width: 540px;
    margin: 60px;
    flex-direction: column;
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    color: 1F2937;

}
.author{
    display: flex;
    justify-content: end;
    font-weight: bold;
}
